

<header>

  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container d-flex  justify-content-between align-items-center">
      <div class="col-md-6 d-flex flex-lg-row flex-column"
           [ngClass]="{'col-lg-4': !header.btnTitle, 'col-lg-3': header.btnTitle}">
        <a class="navbar-brand title">{{header.title}}</a>
        <span class="d-lg-none mr-2">{{header.text}}</span>
      </div>

      <div [ngClass]="{'col-6': header.btnTitle, 'col-8': !header.btnTitle}">
        <span class="d-none d-lg-block mr-2 text-wrap">{{header.text}}</span>
      </div>
      <div class="col-3 d-flex justify-content-end" *ngIf="header.btnTitle">
        <a class="mybuttom btn btn-color text-uppercase d-none d-lg-block mr-2 col-md-12" [routerLink]="header.function">{{header.btnTitle}}</a>
      </div>
    </div>
  </nav>

</header>

